<div class="col-sm-2" id="nav-col">
    <section  class="section"id="navigation">
        <div class="container">
            <h1 id="nav-title" class="title">
                The Social Distance Blog
            </h1>
            <p class="subtitle">
                Stay safe, get what you need, share what you don't.
            </p>
            <ul>
                <li><a href="/">➼ <b>Home</b></a> </li>
                <li><a href="/city">➼ City</a> </li>
                <li><a href="/map">➼ Resources / News</a></li>
            </ul>
        </div>
</div>