<div class="col-sm-2">
    <section id="nav-bar" class="section">
        <div class="container">
            <h1 id="nav-title" class="title">
                The Social Distance Blog
            </h1>
            <p class="subtitle">
                Stay safe, get what you need, share what you don't.
            </p>
            <ul>
                <li><a href="/">➼ <b>Home</b></a> </li>
                <li><a href="#">➼ City</a> </li>
                <li><a href="#">➼ Resources / Supplies</a></li>
                <li><a href="#">➼ Challenges</a></li>
                <li><a href="#">➼ Account</a></li>
                <li><a href="/map">➼ Resource Map</a></li>
                <li><a href="/news">➼ News</a></li>
            </ul>
        </div>
</div>