<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"> --}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Social Distance Network</title>
</head>
<section id="nav-bar" class="section">
  <div class="container">
    <h1 id="nav-title" class="title">
      Hello World
    </h1>
    <p class="subtitle">
      My first website with <strong>Bulma</strong>!
    </p>
    <ul>
      <li><a href="#">➼ City</a> </li>
      <li><a href="#">➼ Resources / Supplies</a></li>
      <li><a href="#">➼ Challenges</a></li>
      <li><a href="#">➼ Account</a></li>
    </ul>
  </div>
</section>



<body>
  {{{body}}}
</body>

</html>