<!DOCTYPE html>
<html>
{{!-- authentication, log-in//register user --}}

<head>
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Social Distance Network</title>
</head>




</section>


<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3" id="navigation">

        <h1 class="title">
          The Social Distance Blog
        </h1>
        <p class="subtitle" id="nav-subtitle">
          Stay safe, get what you need, share what you don't.
        </p>
        <ul>
          <li><a href="/">➼ <b>Home</b></a> </li>
          <li><a href="#">➼ City</a> </li>
          <li><a href="#">➼ Resources / Supplies</a></li>
          <li><a href="#">➼ Challenges</a></li>
          <li><a href="#">➼ Account</a></li>
          <li><a href="/map">➼ Resource Map</a></li>
          <li><a href="/news">➼ News</a></li>
        </ul>
      </div>
      <div class="col-sm-9" class="handlebars-body">
        <div> {{{body}}}</div>

      </div>

    </div>
  </div>





</body>

</html>