<!DOCTYPE html>
<html>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <div class="float-left">
          <!-- content -->
          <div id="map-display">
            <div
              id="map-container-google-8"
              class="z-depth-1-half map-container-5 float-right"
              style="height: 300px">
              <iframe
                src="https://maps.google.com/maps?q=<%=current_user.city%>s&t=&z=13&ie=UTF8&iwloc=&output=embed"
                frameborder="0"
                style="border:0"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
